<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon test Suite">
  <test name=" LogINTest">
    <classes>
     <!--  <class name="Test.LogINTest"/> -->
      <class name="Test.serchtest"/>
      <class name="Test.GotoLogintest"/>
    </classes>
    
    
   
  </test> <!-- Test -->
</suite> <!-- Suite -->
